*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.video_container {
  position: relative;
  border: 1px solid red;
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: black;
}

.video_container.theater,
.video_container.full_screen {
  max-width: initial;
  width: 100%;
}

.video_container.theater {
  max-height: 90vh;
}

.video_container.full_screen {
  max-height: 100vh;
}

.video_container video {
  width: 100%;
}

.video_controls_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  border: 1px solid blue;
}

.video_controls_container::before {
  content: '';
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  width: 100%;
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
}

.video_container:hover .video_controls_container,
.video_container:focus-within .video_controls_container,
.video_container.pasued .video_controls_container {
  opacity: 1;
}

.video_controls_container .controls {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;
  align-items: center;
}

.video_controls_container .controls button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 150ms ease-in-out;
}

.video_controls_container .controls button:hover {
  opacity: 1;
}

.video_container.paused .pause-icon {
  display: none;
}

.video_container:not(.paused) .play-icon {
  display: none;
}

.video_container.theater .tall {
  display: none;
}

.video_container:not(.theater) .wide {
  display: none;
}

.video_container.full_screen .open {
  display: none;
}

.video_container:not(.full_screen) .close {
  display: none;
}
